themes/hugo-creative-portfolio-theme/layouts/_analytics/matomo.html linguist-vendored

themes/hugo-creative-portfolio-theme/layouts/_default/baseof.html linguist-vendored
themes/hugo-creative-portfolio-theme/layouts/_default/list.html linguist-vendored
themes/hugo-creative-portfolio-theme/layouts/_default/single.html linguist-vendored

themes/hugo-creative-portfolio-theme/layouts/about/list.html linguist-vendored

themes/hugo-creative-portfolio-theme/layouts/contact/list.html linguist-vendored

themes/hugo-creative-portfolio-theme/layouts/partials/attribution.html linguist-vendored
themes/hugo-creative-portfolio-theme/layouts/partials/footer.html linguist-vendored
themes/hugo-creative-portfolio-theme/layouts/partials/footer_mathjax.html linguist-vendored
themes/hugo-creative-portfolio-theme/layouts/partials/head.html linguist-vendored
themes/hugo-creative-portfolio-theme/layouts/partials/header.html linguist-vendored
themes/hugo-creative-portfolio-theme/layouts/partials/mobile_nav_toogle.html linguist-vendored
themes/hugo-creative-portfolio-theme/layouts/partials/portfolio.html linguist-vendored
themes/hugo-creative-portfolio-theme/layouts/partials/sidebar.html linguist-vendored
themes/hugo-creative-portfolio-theme/layouts/partials/social_buttons_in_contact.html linguist-vendored
themes/hugo-creative-portfolio-theme/layouts/partials/social_buttons_in_sidebar.html linguist-vendored

themes/hugo-creative-portfolio-theme/layouts/404.html linguist-vendored

themes/hugo-creative-portfolio-theme/layouts/index.html linguist-vendored

themes/hugo-creative-portfolio-theme/static/css/bootstrap.min.css linguist-vendored
themes/hugo-creative-portfolio-theme/static/css/bootstrap.min.css.map linguist-vendored
themes/hugo-creative-portfolio-theme/static/css/custom.css linguist-vendored
themes/hugo-creative-portfolio-theme/static/css/font-awesome.min.css linguist-vendored
themes/hugo-creative-portfolio-theme/static/css/helper.css linguist-vendored
themes/hugo-creative-portfolio-theme/static/css/owl.carousel.css linguist-vendored
themes/hugo-creative-portfolio-theme/static/css/owl.theme.css linguist-vendored
themes/hugo-creative-portfolio-theme/static/css/owl.transitions.css linguist-vendored
themes/hugo-creative-portfolio-theme/static/css/style.blue.css linguist-vendored
themes/hugo-creative-portfolio-theme/static/css/style.default.css linguist-vendored
themes/hugo-creative-portfolio-theme/static/css/style.green.css linguist-vendored
themes/hugo-creative-portfolio-theme/static/css/style.pink.css linguist-vendored
themes/hugo-creative-portfolio-theme/static/css/style.red.css linguist-vendored
themes/hugo-creative-portfolio-theme/static/css/style.sea.css linguist-vendored
themes/hugo-creative-portfolio-theme/static/css/style.violet.css linguist-vendored

themes/hugo-creative-portfolio-theme/static/js/bootstrap.min.js linguist-vendored
themes/hugo-creative-portfolio-theme/static/js/ekko-lightbox.js linguist-vendored
themes/hugo-creative-portfolio-theme/static/js/front.js linguist-vendored
themes/hugo-creative-portfolio-theme/static/js/imagesloaded.pkgd.min.js linguist-vendored
themes/hugo-creative-portfolio-theme/static/js/jquery.cookie.js linguist-vendored
themes/hugo-creative-portfolio-theme/static/js/jquery.min.js linguist-vendored
themes/hugo-creative-portfolio-theme/static/js/jquery.scrollTo.min.js linguist-vendored
themes/hugo-creative-portfolio-theme/static/js/masonry.pkgd.min.js linguist-vendored
themes/hugo-creative-portfolio-theme/static/js/owl.carousel.min.js linguist-vendored

static/rmarkdown-libs/crosstalk/css/crosstalk.css linguist-vendored
static/rmarkdown-libs/crosstalk/js/crosstalk.js linguist-vendored
static/rmarkdown-libs/crosstalk/js/crosstalk.js.map linguist-vendored
static/rmarkdown-libs/crosstalk/js/crosstalk.min.js linguist-vendored
static/rmarkdown-libs/crosstalk/js/crosstalk.min.js.map linguist-vendored

static/rmarkdown-libs/d3/d3.min.js linguist-vendored

static/rmarkdown-libs/htmlwidgets/htmlwidgets.js linguist-vendored

static/rmarkdown-libs/jquery/jquery.js linguist-vendored
static/rmarkdown-libs/jquery/jquery.min.js linguist-vendored
static/rmarkdown-libs/jquery/jquery.min.map linguist-vendored

static/rmarkdown-libs/plotly-binding/plotly.js linguist-vendored

static/rmarkdown-libs/plotly-htmlwidgets-css/plotly-htmlwidgets.css linguist-vendored

static/rmarkdown-libs/plotly-locale-es/es.js linguist-vendored

static/rmarkdown-libs/plotly-main/plotly-latest.min.js linguist-vendored

static/rmarkdown-libs/sankey/d3-4.5.0/d3.min.js linguist-vendored

static/rmarkdown-libs/sankey/sankey.js linguist-vendored

static/rmarkdown-libs/sankeyNetwork-binding/sankeyNetwork.js linguist-vendored

static/rmarkdown-libs/typedarray/typedarray.min.js linguist-vendored

static/rmarkdown-libs/anchor-sections/anchor-sections.js
static/rmarkdown-libs/anchor-sections/anchor-sections.css

content/portfolio/comportamientos-reporductivos.html linguist-vendored
content/portfolio/construcción-en-montevideo.html linguist-vendored
content/portfolio/notas-aprendizaje-estadistico.html linguist-vendored
content/portfolio/notas-muestreo.html linguist-vendored
content/portfolio/tecnologías-de-la-información.html linguist-vendored
content/portfolio/notes-on-machine-learning.html linguist-vendored
content/portfolio/plotly-tricks-r.html linguist-vendored

*.Rmd linguist-detectable
*.md linguist-detectable
*.md linguist-documentation=false
