/themes/hugo-creative-portfolio-theme/layouts/_analytics/matomo.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/_default/baseof.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/_default/list.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/_default/single.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/about/list.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/contact/list.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/partials/attribution.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/partials/footer.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/partials/footer_mathjax.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/partials/head.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/partials/header.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/partials/mobile_nav_toogle.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/partials/portfolio.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/partials/sidebar.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/partials/social_buttons_in_contact.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/partials/social_buttons_in_sidebar.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/404.html linguist-vendored
/themes/hugo-creative-portfolio-theme/layouts/index.html linguist-vendored